* {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}
body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
address,
cite,
dfn,
em,
var {
    font-style: normal;
}
code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}
small {
    font-size: 12px;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset,
img {
    border: 0;
}
button,
input,
select,
textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline: none;
}

// 颜色
$font-link: #123555;
$font-title-color: #222;
$font-text-color: #555;
$font-assist-color: #888;

@import "~sass-rem";
// $rem-baseline: 10px;
$rem-baseline: 75px;

html {
    height: 100%;
    @include rem-baseline; // Default zoom to 100%

    // @media (max-width: 375px) {
    //   font-size: 750px;
    //   @include rem-baseline(117.1875%);
    // }

    // @media (min-width: 800px) {
    //   @include rem-baseline(125%);
    // }
}

body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// 公用容器
.cs-container {
    padding-left: 30px;
    padding-right: 30px;
}

// 省略号
@mixin dot($width: 100px) {
    width: $width;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// 清除浮动
@mixin clearfix {
    display: block;
    zoom: 1;
    &:after {
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.cs-page-wrap {
    @include clearfix;
    margin-top: 20px;
    margin-bottom: 20px;
    .page {
        float: right;
    }
}
